# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Mannix\Documents\WeChat Files\wxid_6ubpn4ajvwwr22\FileStorage\File\2020-11\os2\os2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
